{% extends "rusnlp_base.html" %}

{%- block title %}
     <title>RusNLP: О проекте</title>
 {%- endblock title %}


{% block content %}
        <h1>О сервисе</h1>
<p><strong>RusNLP</strong> -- это поисковик по англоязычным статьям, опубликованным на российских конференциях по компьютерной лингвистике:
<ul>
	<li><a href="http://www.dialog-21.ru">"Диалог"</a></li>
	<li><a href="https://aistconf.org/">AIST</a></li> 
	<li><a href="http://ainlconf.ru/">AINL</a></li> 	
	</ul>
Он позволяет искать по авторам, годам и конференциям, а также по ключевым словам (с использованием TF/IDF). Публикации снабжены богатыми метаданными, включая исходный URL и автоматически определенные тематики.
</p>
<p>Это часть большого проекта <strong>"Анализ публикационной активности в российской компьютерной лингвистике"</strong>.
Данный сервис пока находится в стадии подготовки и не претендует на полноту или точность.
</p>
<p><a href="/data/rus_nlp.db.gz/">Скачать весь датасет в виде базы данных Sqlite</a></p>

<h2>Публикации по проекту</h2>
<ol>
<li><p><i>Bakarov A, Kutuzov A., Nikishina I.</i> <a href="http://www.dialog-21.ru/media/4249/bakarov_kutuzov.pdf" target="_blank">Russian computational linguistics: topical structure in 2007-2017 conference papers</a> // Dialogue 2018</p></li>
<li><p><i>Irina Nikishina, Amir Bakarov and Andrey Kutuzov</i>. RusNLP: Semantic search engine for Russian NLP conference papers // Принято на AIST-2018</p></li>
<li><p>...</p></li>
</ol>

<h2>Команда проекта</h2>
В алфавитном порядке:
<ul>
<li>Амир Бакаров (НИУ ВШЭ)</li>
<li>Андрей Кутузов (Университет Осло)</li>
<li>Ирина Никишина (НИУ ВШЭ)</li>
</ul>


{% endblock %}
