{% extends "rusnlp_base.html" %}

{%- block title %}
     <title>RusNLP: {{strings['topic3']}}</title>
 {%- endblock title %}


{% block content %}
<div>
        <h1>{{strings['topicabout1']}}</h1>
<p>{{strings['topicabout2']}}</p>
<ul>
	<li><a href="http://www.dialog-21.ru">"{{strings['topicabout3']}}"</a></li>
	<li><a href="https://aistconf.org/">{{strings['topicabout15']}}</a></li>
	<li><a href="http://ainlconf.ru/">{{strings['topicabout16']}}</a></li>
	</ul>
<p></p>
<p>{{strings['topicabout5']}}</p>
<p><a href="/data/rus_nlp.db.gz/">{{strings['topicabout6']}}</a></p>

<h2>{{strings['topicabout24']}}</h2>
<ul>
{% for el in stats['parameter'] %}
    {% if stats['parameter'][el] == 'Amount of English papers'%}
	<li>
	{{ strings['topicabout22'] }}: {{ stats['count'][el]}}
	</li>
    {% elif stats['parameter'][el] == 'Amount of English authors' %}
	<li>
	{{ strings['topicabout18'] }}: {{ stats['count'][el]}}
	</li>
    {% elif stats['parameter'][el] == 'Amount of Eglish affiliations'%}
	<li>
	{{ strings['topicabout23'] }}: {{ stats['count'][el]}}
	</li>
    {% endif %}
{% endfor %}
</ul>

<h2>{{strings['topicabout7']}}</h2>
<ol>
<li><p><i>Bakarov A, Kutuzov A., Nikishina I.</i> <a href="http://www.dialog-21.ru/media/4249/bakarov_kutuzov.pdf" target="_blank">Russian computational linguistics: topical structure in 2007-2017 conference papers</a> // Dialogue-2018</p></li>
<li><p><i>Irina Nikishina, Amir Bakarov and Andrey Kutuzov</i>. RusNLP: Semantic search engine for Russian NLP conference papers // AIST-2018</p></li>
<li><p>...</p></li>
</ol>

<h2>{{strings['topicabout10']}}</h2>
{{strings['topicabout11']}}
<ul>
<li>{{strings['topicabout12']}}</li>
<li>{{strings['topicabout13']}}</li>
<li>{{strings['topicabout14']}}</li>
</ul>


{% endblock %}
