{% extends "rusnlp_base.html" %}

{%- block title %}
     <title>RusNLP: Опрос</title>
 {%- endblock title %}


{% block content %}
<div>
        <h1>Разметка качества кросс-языкового поиска похожих научных статей</h1>
<p>
Не знаете, чем ещё занять себя на карантине? 10 000 деталей пазла собираются за полчаса, все курсы на Coursera давно пройдены, а холодильник забит вашими кулинарными шедеврами из гречки?
Выход есть: достаточно найти пульт от времени и промотать всё туда, где уже можно гулять по улицам, выпить кофе в любимой кофейне, увидеться с друзьями и отправиться в путешествие! Одна проблема: такого пульта нет ☹️.
</p>
<p>
Но можно ускорить время, подарив свой час науке 😉 Ничего сложного: достаточно полистать статьи на русском и английском, опубликованные на российских NLP-конференциях, и оценить качество кросс-языкового поиска похожих. 
Звучит заманчиво? Тогда стучитесь к телеграм-боту <a href="https://t.me/RusNLP_bot">@RusNLP_bot</a> за спасением или просто выберите одну или несколько из анкет ниже! А ощутить свой вклад однажды можно будет на сервисе <a href="https://nlp.rusvectores.org/">RusNLP</a>.
</p>

<h1>Формы для разметки</h1>

<ol>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJsCX86TuXuGcbz2Tn-6P3Hpg8vZNyui0ZlKAjP_vfyeW5pg/viewform">Форма 1</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdXmdTVhf9vKjuE4TDiRE9_Lv1O9KWgJVaRXTzHlIFaa55evw/viewform">Форма 2</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfscfaA5ok6eG8BkM5-nN8Rl-nN7q9wrjn_O1ej-BeFZdInVQ/viewform">Форма 3</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScXawtnRdMm0Mp3yYMOLKMGJee9S7EltqpuXZwxaQj0rzEDyg/viewform">Форма 4</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfRxT92zLGyX7ru1CGFsRba-yJrJmryJ63WbZVQ_VKvlTlNWQ/viewform">Форма 5</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdlfOSNNT_eNhwAdEkODZpwNCqq9Xa8aUPILASG5JgSCLAm6w/viewform">Форма 6</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdTYXh7nas2ssqndsHKSME242UOjNXTbZwEcSyjwY7wq6lMJw/viewform">Форма 7</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScmM2NR7_Nqh8In-WLagqqWtwwrNTW96soLMIIkBe4et6p0oA/viewform">Форма 8</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScoyza5HCvx8fWAf_C1bEyVQVdsZ9p-FOjxCuAPQkw47XkrsA/viewform">Форма 9</a>  </li>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfpE0_cILGryWut14z4M_E-Ojn0qaYVPRbtlz5R5KB7FILhNA/viewform">Форма 10</a>  </li>
</ol>


<h1>Инструкции</h1>
<iframe src="https://player.vimeo.com/video/409820916" width="640" height="343" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/409820916">Пример разметки качества поиска на RusNLP</a> from <a href="https://vimeo.com/user113360355">Петр Ф</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<h2>Зачем нужна эта форма?</h2>

<p>В рамках нашего проекта изучаются различные программные методы подбора рекомендованных научных статей. Все эти статьи взяты с сайтов российских конференций по компьютерной лингвистике. Для оценки качества используемых методов необходима участие людей, которые могли бы оценить, действительно ли получаемые результаты соответствуют нашей задаче – показать статьи схожей тематики.</p>

<h2>Требования к аннотатору</h2>

<p>Заполняющий эту форму должен иметь некоторые базовые знания, чтобы понимать научные статьи по компьютерной лингвистике. Поэтому есть 2 обязательных требования:</p>
<ol>
<li><p>Владеть английским и русским языками</p></li>
<li>
<p>Соответствовать хотя бы одному из следующих критериев:</p>
<ul>
<li><p>быть студентом бакалавриата (3-4 курс)/магистратуры по компьютерной лингвистике и смежным направлениям</p></li>
<li><p>получить диплом бакалавра /магистра в данной области</p> </li>
<li><p>работать в сфере, связанной с Natural Language Processing</p></li>
</ul>
</li>
</ol>

<h2>Как проходить форму?</h2>

<p>На каждой странице формы будет дана ссылка на статью (статья запроса). Необходимо перейти по этой ссылке и внимательно ознакомиться со статьей. Помимо оглавления, аннотации и основного текста, важно также обращать внимание на авторов и библиографию.  Рекомендуем оставить вкладку открытой, т.к. дальше вы будете сравнивать эту статью с остальными. Затем будут приведены результаты выдачи 4-х поисковиков (по 5 статей). Надо будет перейти по каждой из этих ссылок и оценить релевантность данной рекомендации по отношению к статье запроса.  Каждый поисковик оценивается по шкале от 0 до 5, где 0 – ни одна статья не подходит, 5 – все статьи релевантны.</p>

<h2>Что такое релевантность поисковой выдачи?</h2>

<p>Мы считаем релевантной тематически схожую статью. Тематическая область должна быть достаточно узкой, т. е. если обе статьи про лингвистику, компьютерные методы или французский язык, то это не означает, что они похожи. Однако не стоит впадать и в другую крайность, помечая нерелевантными те статьи, в которых говорится о применении одного и того же метода при решении одной и той же проблемы, но в документах разных областей (например, медицина и право). Основная задача – отсеять «бракованные» статьи, которые не имеют никакого отношения к статье запроса.</p>

<h2>Пример полностью релевантной выдачи</h2>
<p>Статья запроса: <em>«Применение дистрибутивных методов для оценки семантического сдвига глаголов русского языка»</em></p>

<p>Предлагаемые поисковиком статьи: <em>«Слепые пятна дистрибутивной семантики»</em>, <em>«How to Measure Semantic Change?»</em>, <em>«Могут ли векторные представления слов отслеживать их коннотации?»</em>…</p>

<h2>Пример абсолютно нерелевантной выдачи</h2>

<p>Статья запроса: <em>«Проблемы автоматического извлечения ключевых слов в русском языке»</em></p>

<p>Предлагаемые поисковиком статьи: <em>«Применение нейросетей в автоматическом переводе с русского на английский»</em>, <em>«Автоматическое распознавание рукописей старорусского периода»</em>, <em>«Text Generation System for Three Slavic Languages»</em>…</p>

<h2>На что обратить внимание?</h2>
<ul>
<li><p>Не стоит тратить на одну статью более 5 минут! Заполнение одной формы не должно занять более получаса</p></li>
<li><p>Поисковик может рекомендовать статьи на 2 языках, т. к. мы используем методы кросс-языкового поиска</p></li>
<li><p>Некоторые ссылки будут вести к сборнику статей. Для поиска нужной статьи мы предоставляем первые 3 слова её заголовка</p></li>
<li><p>Ряд статей размещен на сайте <a href="https://link.springer.com">издательства Springer</a>. Если у вас нет подписки на полные тексты статей, то достаточно ознакомиться с общедоступной информацией (аннотация, ключевые слова, литература)</p></li>
</ul>


{% endblock %}
