{% extends "rusnlp_base.html" %}

{%- block title %}
	<title>RusNLP: {{metadata['title']}} </title>

{%- endblock title %}

{% block content %}
	<div class="row" style="text-align: center;">
		{% if not result %}
		<h1>RusNLP: cемантический поиск по публикациям на российских конференциях</h1>
		<p class="lead">компьютерная лингвистика и natural language processing</p>
		{% endif %}
	</div>
	<div class="row" style="text-align: center;">
	<h2>Похожие статьи</h2>	
	{% if error %}
		<p>{{ error }}</p>
	{% endif %}
	
	{% if result %}
		
		<h3>«{{ metadata['title'] }}»</h3>
		<p><i>{{ metadata['author'] | join(', ') }};</i></p>
		<p><i>{{ metadata['affiliation'] | join('; ') }};</i></p>
		<p><i>{{metadata['conference']}}; {{metadata['year']}};</i></p>
		<p><i><a target="_blank" href="{{ metadata['url']}}">Оригинал статьи</a></i></p>
      <h3>Семантически близкие публикации:</h3>
        <div id="queryform">
   	<form id="inputform" action="#" method=post>
      	<div class="form-group">
                  <i>Число результатов:</i>
         {% if topn  %}
         	<input type="number" class="tt-tiny" step="1" id="topn" name="topn" min="1" max="100" value="{{ topn }}">
         {% else %}
         	<input type="number" class="tt-tiny" step="1" id="topn" name="topn" min="1" max="100" placeholder="10">
         {% endif %}
         <button type="submit" class="btn btn-primary" id="send" name="query" value = "submit" style="background-color: green;">Искать</button>
      	</div>
      	
      	
   	</form>
   </div>
		<div class="row">
		{% for model in result if model != 'meta' and not 'is unknown' in result[model][0] %}
			<div class="col-md-12">
				<table class="sortable table table-hover">
					<tr style="border-bottom:1px solid black;">
						<th style="text-align:center;">Заголовок</th>
						<th style="text-align:center;">Автор</th>
						<th style="text-align:center;">Аффилиация</th>
						<th>Конференция</th> 
						<th>Год</th>
						<th>Близость</th>
					</tr>
				{% for res in result[model] if not "No results" in res and not 'is unknown' in res  %}
					<tr style="border-bottom:1px solid black;">
						<td>
							<a style="font-size:larger;" data-toggle="tooltip" data-placement="top" title="Кликните, чтобы найти похожие публикации" href="{{ url }}publ/{{ res[0] }}">
								{{ res[1] }}
							</a> 
							(<a target="_blank" data-toggle="tooltip" data-placement="top" title="Кликните, чтобы перейти к оригиналу публикации" href="{{ res[5] }}" style="color:green;">URL</a>)
						</td> 
						<td>
							{{ res[2] | join(', ') }}
						</td>
						<td>
							{{ res[6] | join('; ') }}
						</td>
						<td>
							<a data-toggle="tooltip" data-placement="top" title="Кликните чтобы увидеть все публикации на этой конференции" target="_blank" href="{{ url }}conf/{{ res[4] }}">{{ res[4] }}</a>
						</td> 
						<td>
							<a data-toggle="tooltip" data-placement="top" title="Кликните чтобы увидеть все публикации за этот год" target="_blank" href="{{ url }}year/{{ res[3] }}">{{ res[3] }}</a>
						</td> 
						<td style="text-align:right;">
							{{ "{0:.4f}".format(res[-1]) }}
						</td>
					</tr>
				{% endfor %}
				</table>        
			</div>			
		{% endfor %}
        
		{% for model in result if model != 'all' and 'is unknown' in result[model][0] %}
		<div class="col-md-8">
			<h4><strong>{{ models[model] }}</strong></h4>
			<i>{{ result[model][0] }}</i>
		</div>
		{% endfor %}        

	{% endif %}
	</div>
{% endblock %}
