{%- extends "rusnlp_base.html" %}

{% set meta_title = [strings['topicresult4'], metadata['title']]|join(': ')  %}

{%- block title %}
	{% if not error %}
	    <title>{{strings['topicresult4']}}: {{metadata['title']}} </title>
	{% endif %}

{%- endblock title %}

{%- block metas -%}
{{ super() }}
{%- endblock metas -%}

{% block content %}
	<div class="row" style="text-align: center;">
		{% if not result %}
		<h1>{{strings['topic4']}}</h1>
		<p class="lead">{{strings['topic5']}}</p>
		{% endif %}
	</div>
	<div class="row" style="text-align: center;">
	{% if error %}
		<h2>{{ error }}</h2>
	{% endif %}
	
	{% if result %}
		<h2>«<a target="_blank" href="{{ metadata['url']}}" data-toggle="tooltip" data-placement="top" title="{{ metadata['abstract'] }}" style="color:green;">{{ metadata['title'] }}</a>»</h2>
		<p><i>
		{% for author in metadata['author'] %}
            <a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult11']}}" target="_blank" href="{{ url }}{{lang}}/author/{{ author }}">{{ author_map[author|string] }}</a>;
            {% endfor %}</i>
		<br/>
		<i>
		{% for aff in metadata['affiliation'] %}
		<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult16']}}" target="_blank" href="{{ url }}{{lang}}/affiliation/{{ aff }}">{{ aff_map[aff|string] }}</a>;
		{% endfor %}
		
		</i>
		
		</p>
		<p><i><a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult12']}}" target="_blank" href="{{ url }}{{lang}}/conf/{{ metadata['conference'] }}">{{metadata['conference']}}</a>,
		<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult14']}}" target="_blank" href="{{ url }}{{lang}}/year/{{ metadata['year'] }}">{{metadata['year']}}</a>;</i></p>
      <h3>{{strings['topicresult4']}}:</h3>
        <div id="queryform">
   	<form id="inputform" action="#" method=post>
      	<div class="form-group">
                  <i>{{strings['topicresult15']}}:</i>
         {% if topn  %}
         	<input type="number" class="tt-tiny" step="1" id="topn" name="topn" min="1" max="100" value="{{ topn }}">
         {% else %}
         	<input type="number" class="tt-tiny" step="1" id="topn" name="topn" min="1" max="100" placeholder="10">
         {% endif %}
         <button type="submit" class="btn btn-primary" id="send" name="query" value = "submit" style="background-color: green;">{{strings['topic13']}}</button>
      	</div>
      	
      	
   	</form>
   </div>
		<div class="row">
				<div class="col-md-12">
                                <div style="max-width: 100%; overflow-y: auto;">
				<table class="sortable table table-hover">
					<tr style="border-bottom:1px solid black;">
						<th style="text-align:center;">{{strings['topicresult3']}}</th>
						<th style="text-align:center;">{{strings['topic11']}}</th>
						<th style="text-align:center;">{{strings['topicresult5']}}</th>
						<th>{{strings['topicresult6']}}</th>
						<th>{{strings['topicresult7']}}</th>
						<th style="text-align:center;">{{strings['topicresult8']}}</th>
						<th>{{strings['topicresult9']}}</th>
					</tr>
				{% for res in result if not "No results" in res and not 'is unknown' in res  %}
					<tr style="border-bottom:1px solid black;">
						<td>
							<a style="font-size:larger;" data-toggle="tooltip" data-placement="top" title="{{ res[7] }}" href="{{ url }}{{lang}}/publ/{{ res[0] }}">
								{{ res[1] }}
							</a> 
							(<a target="_blank" data-toggle="tooltip" data-placement="top" title="{{strings['topicresult10']}}" href="{{ res[5] }}" style="color:green;">URL</a>)
						</td> 
						<td>
						{% for author in res[2] %}
        					<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult11']}}" target="_blank"
        					href="{{ url }}{{lang}}/author/{{ author }}">{{ author_map[author|string] }}</a>
        					<br/>
				                {% endfor %}

						</td>
						<td>
					            {% for affiliation in res[6] %}
					    		<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult16']}}" target="_blank" href="{{ url }}{{lang}}/affiliation/{{ affiliation }}">{{ aff_map[affiliation|string] }}</a>
					                <br/>
						    {% endfor %}
						</td>
						<td>
							<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult12']}}" target="_blank" href="{{ url }}{{lang}}/conf/{{ res[4] }}">{{ res[4] }}</a>
						</td> 
						<td>
							<a data-toggle="tooltip" data-placement="top" title="{{strings['topicresult14']}}" target="_blank" href="{{ url }}{{lang}}/year/{{ res[3] }}">{{ res[3] }}</a>
						</td>
                        <td>
                          {% if res[0] in topics %}
                            {% for topic in topics[res[0]] %}
                            <a style="color:green;" target="_blank" data-toggle="tooltip" data-placement="top" title="{{strings['topicresult13']}}" href="{{  topic[1] }}">{{ topic[0] }}</a><br/>
                             {% endfor %}
                            {% else %}
                            -
                            {% endif%}
                        </td>
						<td style="text-align:right;">
							{{ "{0:.4f}".format(res[-1]) }}
						</td>
					</tr>
				{% endfor %}
				</table>
				</div>
			</div>			

        


	{% endif %}
	</div>
{% endblock %}
