{% extends "rusnlp_base.html" %}

{%- block title %}
     <title>RusNLP: поиск</title>

{%- endblock title %}

{% block content %}
    <div class="row" style="text-align:center;">
        <h1>RusNLP: cемантический поиск по научным статьям</h1>
          <p class="lead">компьютерная лингвистика и natural language processing</p>
	{% if search %}
        <div id="queryform">
            <form id="inputform" action="#" method=post>
              <div class="form-group">
		      <p style="margin-top:15px;"><strong>Ключевые слова через пробел (пишите имена собственные, например, названия языков, с большой буквы):</strong></p>
    {% if keywords %}
       	   <input type="text" class="tt-query" id="keywords" name="keywords" value="{{ keywords }}" maxlength=500 size=80>
        {% else %}
               <input type="text" class="tt-query" id="keywords" name="keywords" placeholder="syntax Russian" maxlength=500>
    {% endif %}

        <fieldset style="width:auto; text-align:center;">
                <p style="margin-top:15px;">Выберите одну или несколько конференций:</p>
                 <select name="conf_query" multiple class="form-control" style="text-align:center;margin-right:auto;margin-left:auto;max-width:400px;">
        	    <option value="Dialogue"
                    {% if conf_query  %}
                    {% if 'Dialogue' in conf_query %}
                     selected
                    {% endif %}
                    {% endif %}
                        style="text-align:center;">Диалог</option>
        	    <option value="AIST"
                           {% if conf_query  %}
                    {% if 'AIST' in conf_query %}
                     selected
                    {% endif %}
                    {% endif %}
                        style="text-align:center;">AIST</option>
                <option value="AINL"
                                    {% if conf_query  %}
                    {% if 'AINL' in conf_query %}
                     selected
                    {% endif %}
                    {% endif %}
                        style="text-align:center;">AINL</option>
                 </select>
        	</fieldset>

  
      <p style="margin-top:15px;">Диапазон дат:</p>
        {% if year_query %}
        <i>От:</i>
        <input type="number" class="tt-tiny" id="year_query_min" name="year_query_min" value="{{ year_query[0] }}" min="2000" max="2020" size=4>
        <i>До:</i>
        <input type="number" class="tt-tiny" id="year_query_max" name="year_query_max" value="{{ year_query[1] }}" min="2000" max="2020" size=4>
        {% else %}
        <i>От:</i>
        <input type="number" class="tt-tiny" id="year_query_min" name="year_query_min" value="2002" min="2000" max="2020" size=4>
        <i>До:</i>
        <input type="number" class="tt-tiny" id="year_query_max" name="year_query_max" value="2018" min="2000" max="2020" size=4>
        {% endif %}
 
      <p style="margin-top:15px;">Автор статьи, латиницей (можно использовать метасимволы <i>*</i> и <i>?</i>):</p>
        {% if author_query %}
        <input type="text" class="typeahead" id="author_query" name="author_query" value="{{ author_query }}" maxlength=50 size=10>
        {% else %}
        <input type="text" class="typeahead" id="author_query" name="author_query" placeholder="Kibrik*" maxlength=50 size=10>
        {% endif %}

    <p style="margin-top:15px;">Заголовок статьи (можно использовать метасимволы <i>*</i> и <i>?</i>):</p>
    {% if query %}
       	   <input type="text" class="tt-query" id="query" name="query" value="{{ query }}" maxlength=500 size=80>
        {% else %}
               <input type="text" class="tt-query" id="query" name="query" placeholder="*embedding*" maxlength=500>
    {% endif %}

      </div>

      <button type="submit" class="btn btn-primary" id="send" name="query" value = "submit" style="background-color: green;">Искать</button>
            </form>
        </div>
    {% endif %}


    {% if error %}
        <h2> <strong>{{ error }}</strong></h2>
    {% endif %}
     {% if result %}
    <h3>Вот что мы нашли для вас</h3>
    <div>
        <h4>Кликните по заголовку статьи, чтобы увидеть похожие публикации</h4>
        <table class="sortable table table-hover">
        <tr style="border-bottom:1px solid black;">
        <th style="text-align: left;">Заголовок</th> 
        <th style="text-align:center;">Автор</th> 
        <th style="text-align:center;">Аффилиация</th> 
        <th  style="text-align:center;">Конференция</th> 
        <th>Год</th>
        <th style="text-align:center;">Задачи</th>
        {% if keywords %}
        <th>Близость к запросу </th>
        {% endif %}
        
        </tr>
	{% for res in result if not "No results" in res and not 'is unknown' in res  %}
    	    <tr style="border-bottom:1px solid black;">
    	    <td  style="text-align: left;"><a style="font-size:larger" target="_blank" data-toggle="tooltip" data-placement="top" title="Кликните, чтобы найти похожие публикации" href="{{ url }}publ/{{ res[0] }}">{{ res[1] }}</a>
    	    (<a target="_blank" data-toggle="tooltip" data-placement="top" title="Кликните, чтобы перейти к оригиналу публикации" href="{{ res[5] }}" style="color: green;">URL</a>)</td>
    	    <td style="text-align:center;">
    	    {% for author in res[2] %}
    	    <a data-toggle="tooltip" data-placement="top" title="Кликните, чтобы увидеть все публикации этого автора" target="_blank" href="{{ url }}author/{{ author }}">{{ author }}</a>
    	    <br/>
    	    {% endfor %}
    	    </td>
    	    <td style="text-align:center;">{{ res[6] }}</td>
    	    <td><a data-toggle="tooltip" data-placement="top" title="Кликните, чтобы увидеть все публикации на этой конференции" target="_blank" href="{{ url }}conf/{{ res[4] }}">{{ res[4] }}</a></td>
    	    <td><a data-toggle="tooltip" data-placement="top" title="Кликните, чтобы увидеть все публикации за этот год" target="_blank" href="{{ url }}year/{{ res[3] }}">{{ res[3] }}</a></td>
                <td>
                          {% if res[0] in topics %}
                            {% for topic in topics[res[0]] %}
                            <a style="color:green;" target="_blank" data-toggle="tooltip" data-placement="top" title="Кликните чтобы узнать больше об этой теме" href="{{  topic[1] }}">{{ topic[0] }}</a><br/>
                             {% endfor %}
                            {% else %}
                            -
                            {% endif%}
                        </td>
                {% if keywords %}
    	    <td style="text-align:right;">{{ "{0:.3f}".format(res[-1]) }}
    	    {% endif%}
    	    </tr>
        {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}
