.avatar{ /* селектор для класса avatar */
float: right; /* прижимаемся к левому краю, обтекание справа */
width: 150px; /* ширина */
height: 150px; /* высота */
padding: 0px; /* внутренние отступы(верх, право, низ, лево) */
border: 0px solid #999; /* граница(ширина, тип, цвет) */
border-radius: 50%; /*скругление равно 50 процентам от общей ширины, фактически 25 пикселей, вот и круг получили(ещё есть с префиксом -moz и -o) */
}
.avatar img{ /* селектор для картинки, которая "внутри" класса avatar */
display: block; /* картинка выводится как блок, по ширине будет равен родителю(диву в котором находится) */
width: 100%; /* ширина 100% */
border: 0; /* граница нулевая */
margin: 0; /* внешний отступ отстутствует */
border-radius: 50%; /* читай выше */
}


.avataricon{
float: right;
width: 30px;
height: 30px;
padding: 0px;
border: 0px solid #999;
border-radius: 50%;
ovverflow: hidden;
}
.avataricon img{ 
display: inline; 
width: 30px; 
height: 30px;
border: 0; 
margin: 0; 
border-radius: 50%; 
overflow: hidden;
}

/* Sortable tables */
table.sortable thead {
background-color:#eee;
color:#666666;
font-weight: bold;
cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
content: " \25B4\25BE" 
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}